@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-pixelify: var(--font-pixelify-sans);
  --font-sixtyfour: var(--font-sixtyfour);
  --font-jersey-10: var(--jersey-10);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(to top,#D2D3D7, #D4D5D9, #D6D7D9, #D9D8DD, #DEDFE3,#DCDDDF, #D6D8D7, #CCCCCC);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.main-page-class > div{
  width: 400px;
  height: 500px;
}

.main-page-class{
  align-items: center;
}

.main-page-image-class{
  background-image: url("/assets/Profile.jpg");
  background-position: -60px 0px;
  background-size: 600px;
  background-repeat: no-repeat;
}